.story{
	margin: 0.5rem auto;
	padding: .25rem 1.5rem;
	width: 85%;
	font-family: sans-serif;
	background: #ececec;
	border-radius: 1rem;
}

.story > a{
	color: rgba(0, 0, 0, .75);
	text-decoration: none;
}

.story:hover{
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .10);
}

.title{
	margin: .5rem 0;
	font-size: 1.25rem;
	text-decoration: none;
	color: rgba(0, 0, 0, .75);
}

.info{
	font-size: .8rem;
	display: flex;
	justify-content: space-between;
}

.skeletonCont{
	margin: 1rem 0;
}